<div class="row">
  <div class="col-md-5">
    <% flash.each do |key, value| %>
      <div class="flash alert-<%= key %>"><%= value.html_safe %></div>
    <% end %>

    <div class="well">
      <h1>Sign In!</h1>
      <a href="<%= new_user_url %>">Don't have an account? Sign up now!</a>

      <form action="<%= session_url %>" method="post" role="form">
        <fieldset>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

          <div class="form-group">
            <label for="user_login_name">Username or Email</label>
            <input type="text" class="form-control" id="user_login_name" name="credentials[login_name]">
          </div>
          <div class="form-group">
            <label for="user_password">Password</label>
            <input type="password" class="form-control" id="user_password" name="credentials[password]">
          </div>

          <input type="submit" class="btn" value="Sign In!">
        </fieldset>
      </form>

      <br>

      <form action="<%= session_url %>" method="post" role="form">
        <fieldset>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

          <input type="hidden" name="credentials[login_name]" value="demo">
          <input type="hidden" name="credentials[password]" value="password">

          <input type="submit" class="btn" value="Sign In as Demo User">
        </fieldset>
      </form>
      <br>
      <form action="/auth/google_oauth2">
        <input type="submit" class="btn" value="Sign In with Google">
      </form>
    </div>
  </div>


  <div class="col-md-7">
    <%= render "shared/description" %>
  </div>

</div>