<%= semantic_form_for @note do |f| %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :url %>
    <%= f.input :body, :as => :rich, :value => "<p>please work</p>" %>
  <% end %>
<% end %>