<%= flash["errors"] %>
<h1>Sign Up!</h1>
<a href="<%= new_session_url %>">Already have an account? Sign in now!</a>
<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="user_username">Username</label>
  <input type="text" id="user_username" name="user[username]" value="<%= @user.username %>">

  <label for="user_email">Email</label>
  <input type="email" id="user_email" name="user[email]" value="<%= @user.email %>">

  <label for="user_password">Password</label>
  <input type="password" id="user_password" name="user[password]">

  <label for="user_password_confirmation">Password Confirmation</label>
  <input type="password" id="user_password_confirmation" name="user[password_confirmation]">

  <input type="submit" value="Sign Up!">
</form>