<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <% flash.each do |key, value| %>
      <div class="flash alert-<%= key %>"><%= value.html_safe %></div>
    <% end %>
  </div>
  <div class="col-md-4 col-md-offset-4 well">
    <h1>Sign Up!</h1>
    <a href="<%= new_session_url %>">Already have an account? Sign in now!</a>

    <form action="<%= users_url %>" method="post" role="form">
      <fieldset>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <div class="form-group">
          <label for="user_username">Username</label>
          <input type="text" class="form-control" id="user_username" name="user[username]" value="<%= @user.username %>">
        </div>
        <div class="form-group">
          <label for="user_email">Email</label>
          <input type="email" class="form-control" id="user_email" name="user[email]" value="<%= @user.email %>">
        </div>
        <div class="form-group">
          <label for="user_password">Password</label>
          <input type="password" class="form-control" id="user_password" name="user[password]">
        </div>
        <div class="form-group">
          <label for="user_password_confirmation">Password Confirmation</label>
          <input type="password" class="form-control" id="user_password_confirmation" name="user[password_confirmation]">
        </div>

        <input type="submit" class="btn" value="Sign Up!">
      </fieldset>
    </form>
  </div>
</div>