<form id="note-edit" data-id="<%= note.id %>">

  <label for="note-title">Title</label>
  <input type="text" name="note[title]" id="note-title" value="<%= note.escape("title") %>" placeholder="Untitled">
  <label for="note-location">Location</label>
  <input type="text" name="note[location]" id="note-location" value="<%= note.escape("location") %>">


  <label for="note-url">URL</label>
  <input type="text" name="note[url]" id="note-url" value="<%= note.escape("url") %>">


  <label for="note-author">Author</label>
  <input type="text" name="note[author]" id="note-author" value="<%= note.escape("author") %>">
  <br>

  <label for="note-body">Body</label>
  <textarea name="note[body]" id="note-body"><%= note.escape("body") %></textarea>
  <br>

  <input type="submit" value="Save Note">
</form>