<form id="note-edit" data-id="<%= note.id %>">

  <label for="note-title">Title</label>
  <input type="text" name="note[title]" class="input-block-level" id="note-title" value="<%= note.escape("title") %>" placeholder="Untitled">

  <label class="hidden" for="note-url">URL</label>
  <input type="text" name="note[url]" class="input-block-level" id="note-url" value="<%= note.escape("url") %>" placeholder="URL">

  <label for="note-body">Body</label>
  <textarea name="note[body]" class="input-block-level" id="note-body" placeholder="Write your note..."><%= note.escape("body") %></textarea>
  <br>

  <label for="tags">Add Tags (separate by spaces)</label>
  <input type="text" name="tags" id="tags">


  <label for="note-tag-list">Current Tags</label>
  <ul id="note-tag-list">
    <% note.get("tags").each(function (tag) { %>
      <li><%= tag.escape("body") %></li>
    <% }) %>
  </ul>

  <input type="submit" class="btn" value="Save Note">
</form>