<form id="note-edit" data-id="<%= note.id %>">
  <div class="form-group" style="margin-bottom:0;">
    <label for="note-title" class="hidden">Title</label>
    <input type="text" name="note[title]" class="form-control input-lg" id="note-title" value="<%= note.escape("title") %>" placeholder="Untitled">
  </div>

  <div class="form-group">
    <label for="note-body" class="hidden">Body</label>
    <textarea id="note_body" name="note[body]" rows="20" value="<%= note.body %>"></textarea>
  </div>

  <div id="note-tag-list"></div>
  <br>

  <div class="form-group">
    <label for="tags" class="hidden">Add Tags (separated by spaces) </label>
    <input type="text" class="form-control" name="tags" id="tags" placeholder="Add Tags (separated by spaces)">
  </div>

  <input type="submit" class="btn" id="save_note" value="Save Note">

  <div class="note-sharing">
    <span id="public-link" class="<%= note.get("shared") ? "" : "hidden" %>">
      <a href="/notes/<%= note.id %>" target="_blank">Public Link</a>
    </span>
  </div>
</form>
