<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">NoteClipr</a>
    <% if !logged_in? %>
      <span class="navbar-text"><%= self.notes_so_far %> notes stored so far!</span>
    <% end %>
    </div>
    <% if logged_in? %>
      <form class="navbar-form navbar-left note-search"></form> <!-- hook for backbone search bar -->
    <% end %>

    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= link_to "Welcome, #{current_user.username}", edit_user_url %></li>
        <li><%= link_to "Sign out", session_url, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", new_session_url %></li>
        <li><%= link_to "Sign up", new_user_url %></li>
      <% end %>
    </ul>

  </div>
</nav><!-- /navbar -->